<section class="hero-section">
    <header>
        <h1>
            <span>Welcome</span> 
            <span> to </span> 
            <span><%= title.toUpperCase() %></span>
        </h1>
    </header>
    <section class="register-section">
        <a href="/register">WANNA JOIN?</a>
    </section>
</section>
