<h2 class="welcome-h2">Welcome back, 
    <span><%=user.firstName %> <%- include('../../public/images/heart.svg') %></span> 
</h2>
<section class="user-panel">
    <% if(!user.isAdmin && !user.isMember) { %>
        <button>Want to become a member?</button>
    <% } else if(!user.isAdmin) { %>
        <p class="status">member</p>
        <button>Want to become an admin?</button>
    <% } else { %> 
        <div class="status-container">
            <p class="status">member</p>
        <p class="status">admin</p> 
        </div>
    <% } %>
    <div class="secret-panel" style="display: none">
       <% if(!user.isMember){ %>
        <form action='/member-access' method="POST">
            <label for="membership">Insert secret code: </label>
            <input type="text" id="membership" name="membership" autocomplete="off">
            <button type="submit">ok</button>
        </form>
       <% } %>
       <% if(user.isMember && !user.isAdmin){ %>
        <form action='/admin-access' method="POST">
            <label for="admin">Insert secret code: </label>
            <input type="text" id="admin" name="admin" autocomplete="off">
            <button type="submit">ok</button>
        </form>
    <%} %>
    </div>
    <a href="/log-out">log out</a>
</section class="user-panel">
    <% if(user.isMember) { %>
        <section class="form-container">
            <form action="/create-message" method="POST" class="create-message-form">
                <h3>Want to say somenthing?</h3>
              <div class="field-container">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
              </div>
              <div class="field-container">
                <label for="body">Message (max: 140 characters): </label>
                <textarea name="body" id="body" cols="30" rows="5" maxlength="140"></textarea>
              </div>
              <div class="field-container">
                <label for="user">by: </label>
                <span><%= user.firstName %></span>
              </div>
              <input type="text" name="user" id="user" value="<%= user._id %>" hidden>
              <button type="submit" class="share-button">share it!</button>
            </form>
        </section>
        <% } %>

<script>
    const memberButton = document.querySelector('button'); 
    const secretPanel = document.querySelector('div.secret-panel')
    memberButton.addEventListener('click', showMemberMenu)

    function showMemberMenu(){
        if( secretPanel.style.display === 'none') {
            secretPanel.style.display = 'block';
        } else {
            secretPanel.style.display = 'none';
        }
    }; 

    document.querySelector('body').style.display = 'block';
    
</script>