<h2 class="welcome-h2">Welcome back, 
    <span><%=user.firstName %> <%- include('../../public/images/heart.svg') %></span> 
</h2>

<% if(!user.isAdmin && !user.isMember) { %>
    <button>Want to become a member?</button>
<% } else if(!user.isAdmin) { %>
    <p class="status">member</p>
    <button>Want to become an admin?</button>
<% } else { %> 
    <div class="status-container">
        <p class="status">member</p>
    <p class="status">admin</p> 
    </div>
<% } %>



<div class="secret-panel" style="display: none">
   <% if(!user.isMember){ %>
    <form action='/member-access' method="POST">
        <label for="membership">Insert secret code: </label>
        <input type="text" id="membership" name="membership" autocomplete="off">
        <button type="submit">ok</button>
    </form>
   <% } %>
   <% if(user.isMember && !user.isAdmin){ %>
    <form action='/admin-access' method="POST">
        <label for="admin">Insert secret code: </label>
        <input type="text" id="admin" name="admin" autocomplete="off">
        <button type="submit">ok</button>
    </form>
<%} %>
</div>
<a href="/log-out">log out</a>
<div>
    <% if(user.isMember) { %>
        <h3>Want to say somenthing?</h3>
        <form action="" method="POST">
          <label for="title">Title</label>
          <input type="text" name="title" id="title">
          <label for="body">Message: </label>
          <textarea name="body" id="body" cols="30" rows="10"></textarea>
          <label for="user">by: </label>
          <span><%= user.firstName %></span>
          <input type="text" name="user" id="user" value="<%= user._id %>" hidden>
          <button type="submit">share it!</button>
          <a href="/delete-message"></a>
        </form>
        <% } %>
</div>

<script>
    const memberButton = document.querySelector('button'); 
    const secretPanel = document.querySelector('div.secret-panel')
    memberButton.addEventListener('click', showMemberMenu)

    function showMemberMenu(){
        if( secretPanel.style.display === 'none') {
            secretPanel.style.display = 'block';
        } else {
            secretPanel.style.display = 'none';
        }
    }; 

    document.querySelector('body').style.justifyContent = 'flex-start';
</script>