<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user) { %>
      <h2>Welcome back <%=user.username %></h2>
      <a href="/log-out">log out</a>
    <% } %>
    <p>Welcome to <%= title %></p>
    <a href="/sign-up">sign up</a>
    <a href="/log-in">log in</a>
  </body>
</html>
