:root{
  --primary-accent: #f46d59; 
  --primary-accent-darker: #e7705e; 
  --secondary-accent: #2e2428;
  --tenor-font: 'Tenor Sans', sans-serif; 
  --glorify-font: 'Glorify', sans-serif;
  --step--3: clamp(1.45rem, calc(1.06rem + 1.94vw), 2.56rem);
  --step--2: clamp(1.74rem, calc(1.23rem + 2.55vw), 3.20rem);
  --step--1: clamp(2.08rem, calc(1.42rem + 3.33vw), 4.00rem);
  --step-0: clamp(2.50rem, calc(1.63rem + 4.35vw), 5.00rem);
  --step-1: clamp(3.00rem, calc(1.87rem + 5.65vw), 6.25rem);
  --step-2: clamp(3.60rem, calc(2.13rem + 7.33vw), 7.81rem);
  --step-3: clamp(4.32rem, calc(2.43rem + 9.47vw), 9.77rem);
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('../fonts/tenorsans-regular-webfont.woff2'),
  url('../fonts/tenorsans-regular-webfont.woff')
}

@font-face {
  font-family: 'Glorify';
  src: url('../fonts/glorifydemo-bw3j3-webfont.woff2'),
  url('../fonts/glorifydemo-bw3j3-webfont.woff')
}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-accent);
  color: var(--secondary-accent); 
  font-family: var(--tenor-font);
  gap: 1rem;
}


section.hero-section{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  width: 100%;
  padding: 2rem; 
  gap: 2rem;
}



h1{
  display: flex;
  flex-direction: column;
  font-size: var(--step-1);
  font-family: var(--tenor-font);
  height: 100%;
  justify-content: space-around;
}

h1 span:nth-child(3){
  font-family: var(--glorify-font);
}

section.register-section {
  width: fit-content;
  justify-self: end;
  align-self: center;
  font-size: var(--step--3);
  writing-mode: sideways-lr;
  background-color: var(--secondary-accent);
}

@supports not (-moz-appearance: none) {
  section.hero-section{
    grid-auto-flow: row;
  }

  section.register-section{
    width: 100%;
    text-align: center;
  }
}

section.register-section a {
  color: var(--primary-accent);
  text-decoration: none;
  padding-inline: 1rem;
}

section.register-section:hover{
  outline: 10px solid var(--secondary-accent); 
  outline-offset: .5rem;
}

section.register-section:active{
  outline: 10px solid var(--secondary-accent); 
  outline-offset: .5rem;
}

section.form-section{
  display: grid;
  place-content: center;
  width: 100%;
  padding-inline: 2rem;
}

section.form-section > form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.form-section > form div {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

section.form-section > form div label{
  width: 100%;
}

section.form-section > form div input{
  background-color: var(--primary-accent);
  border: none;
  box-shadow: inset 0 -2px 0px 0px var(--secondary-accent);
  
}

section.form-section > form div input:focus{
  outline: none;
}

section.form-section > form button {
  width: fit-content;
  padding-inline: .5rem;
  background-color: var(--secondary-accent);
  color: var(--primary-accent);
  border: none;
  align-self: center;
}

section.form-section > form button:hover{
  outline: 3px solid var(--secondary-accent);
  outline-offset: 2px;
}

div.svg-container{
  display: grid;
  place-content: center;
  padding-block: 2rem;
}

h2{
  padding-block: 1rem;
  font-family: var(--glorify-font);
  text-align: center;
}

h2.welcome-h2{
  font-family: var(--tenor-font);
}

h2 span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-family: var(--glorify-font);
  
}

p.status{
  background-color: var(--secondary-accent);
  color:var(--primary-accent); 
  padding-inline: .3rem;
  width: fit-content;

}

button{
  font-family: var(--glorify-font);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding-inline: .3rem;
}

button.share-button{
  text-decoration: none;
  background-color: var(--primary-accent-darker);
  border-radius: 0 0 10px 10px;
  padding-inline: .3rem;
}

button:hover{
  background-color: var(--secondary-accent);
  color: var(--primary-accent);
}

div.secret-panel form{
  display: grid;
  place-content: center;
  text-align: center;
}

div.secret-panel form input{
  padding-inline: .3rem;
  font-family: var(--glorify-font);
  background-color: var(--secondary-accent);
  color: var(--primary-accent);
  border: none;
}

div.secret-panel form input:focus{
  outline: none;
}

div.status-container{
  display: flex;
  gap: .5rem;
  background-color: var(--primary-accent-darker);
  border-radius: 10px;
  padding: .5rem;
}

a{
  text-decoration: none;
  color: var(--secondary-accent); 
}

div.field-container{
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--primary-accent-darker);
  justify-content: space-evenly;
  border-radius: 10px;
}

div.field-container:nth-child(3){
  flex-direction: column;
}

div.field-container:nth-child(4){
  justify-content: right;
  gap: .3rem;
}

div.field-container:nth-child(4) span{
  font-weight: bold;
}

form.create-message-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.create-message-form input{
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0px 0px var(--secondary-accent);
}

form.create-message-form input:focus{
  outline: none;
}

form.create-message-form textarea{
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0px 0px var(--secondary-accent);
  resize: none;
}

form.create-message-form textarea:focus{
  outline: none;
}


div.message-container{
  display: flex;
  max-width: 15rem;
  overflow-x: scroll;
  scrollbar-color: var(--secondary-accent) var(--primary-accent-darker);
  scrollbar-width: thin;
  scroll-behavior: smooth;

}

div.message-container div.messages{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem;
  border-radius: 10px;
  gap: 1rem;
  min-width: 15rem;
  text-align: center;
  line-break: anywhere;
  height: 17rem;
  background-color: #2e242838;
  margin-inline: .5rem;
}

div.message-container div.messages h4 + p {
  flex-grow: 1;
}

div.message-container div.messages div{
  display: flex;
  justify-content: space-between;
  align-self: initial;
}

div.message-container div.messages form button:hover{
  background-color: transparent;
}

@supports (scroll-snap-type: x mandatory){
  div.message-container{
    scroll-snap-type: x mandatory;
  }

  div.message-container div.messages{
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

div.message-container::-webkit-scrollbar{
  background-color: var(--primary-accent-darker);
  border-radius: 10px;
  height: .5rem; 
 
}

div.message-container::-webkit-scrollbar-thumb{
  background-color: var(--secondary-accent);
}



div.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

div.button-container > button:hover {
 background-color: transparent;
 cursor: pointer;
}

div.button-container > button:nth-child(1){
  transform: rotate(180deg);
  transform-origin: center;
}


section.user-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.user-panel button{
  margin-block-start: .5rem;
}

section.user-panel a{
  background-color: var(--primary-accent-darker);
  border-radius: 0 0 10px 10px;
  padding-inline: .3rem;
  border: 1px solid transparent;
}

section.user-panel a:hover{
  background-color: red;
  color: white;
}

div.section-container{
  display: grid;
  place-content: center;
  padding-block: 1rem;
  grid-auto-flow: column;
}

section.form-container{
  display: grid;
  place-content: center;
}

figure.quotes-container{
  display: grid;
  place-content: center;
  padding-block-start: 1rem;
  padding-block-end: .5rem;
}

figure.parenthesis-container{
  display: grid;
  padding-inline: 1rem;
}


figure.parenthesis-container:nth-child(3){
  transform: rotate(180deg);
}

ul.errors-container{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  overflow-x: auto;
}

ul.errors-container li{
  list-style-type: none;
  padding-inline: 1rem;
  white-space: nowrap;
}